<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>elementTest</title>


    <style>
        body {
            background-image: url("../photo/img1.jpg");
            background-size: cover; /* 调整图片尺寸以覆盖整个页面 */
            background-repeat: no-repeat; /* 禁止图片平铺 */
        }
        .el-table{
            background-color: transparent;
        }
    </style>



</head>
<body>


<div id="app">

    <template>





        <!-- 上面的一条显示  -->
        <el-form :inline="true" :model="stu" class="demo-form-inline">
            <div align="center">
            <el-form-item label="姓名">
                <el-input v-model="searchName" placeholder="输入查找的姓名"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="searchByName(searchName)">查询</el-button>
            </el-form-item>

            <el-form-item label="姓名">
                <el-input v-model="deleteName" placeholder="输入删除的姓名"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="danger" @click="deleteByName(deleteName)">删除</el-button>
            </el-form-item>

            </div>

            <div align="center">
            <el-form-item>
                <el-button type="primary" @click="dialogVisible=true">添加新学生</el-button>
            </el-form-item>
            </div>
        </el-form>



        <!--  表单    -->
        <el-dialog title="添加学生" :visible.sync="dialogVisible" width="30%">
            <!-- 点击后展示添加表单  -->
            <el-form ref="form" :model="addStu" label-width="80px">
                <el-form-item label="姓名">
                    <el-input v-model="addStu.name"></el-input>
                </el-form-item>
                <el-form-item label="分数">
                    <el-select v-model="addStu.gender" placeholder="请选择性别">
                        <el-option label="男" value="男"></el-option>
                        <el-option label="女" value="女"></el-option>
                        <el-option label="非二次性别人士" value="智障"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="分数">
                    <el-input v-model="addStu.score"></el-input>
                </el-form-item>
                <el-form-item label="邮箱">
                    <el-input v-model="addStu.email"></el-input>
                </el-form-item>

                <el-form-item align="center">
                    <el-button type="primary" @click="add()">立即创建</el-button>
                    <el-button @click="dialogVisible=false">取消</el-button>
                </el-form-item>
            </el-form>

            <!-- 表单-->
        </el-dialog>


        <el-dialog title="修改学生信息" :visible.sync="updateDialogVisible" width="30%">

        <!-- 展示修改的表单 -->
        <el-form :model="updateStu"  label-width="100px" class="demo-ruleForm">
            <el-form-item label="分数" prop="pass">
                <el-input placeholder="输入新的分数" v-model="updateStu.score" autocomplete="on"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="submitUpdate()">提交</el-button>
                <el-button @click="resetScore()">重置</el-button>
            </el-form-item>
        </el-form>

        </el-dialog>



        <!--  表格  -->
        <el-table :data="stuList" stripe style="width: 100%" @sort-change="sort">

            <el-table-column
                    type="index"
                    align="center">
            </el-table-column>


            <!-- 添加一个自定义列，用来渲染姓名列 -->
            <el-table-column label="姓名" align="center">
                <template slot-scope="item">{{ item.row.name }}</template>
            </el-table-column>


            <!-- 添加一个自定义列，用来渲染分数列 -->
            <el-table-column label="性别" align="center">
                <template slot-scope="item">{{ item.row.gender }}</template>
            </el-table-column>



            <!-- 添加一个自定义列，用来渲染分数列 -->
            <el-table-column label="分数" align="center" prop="score" sortable>
                <template slot-scope="item">{{ item.row.score }}
                </template>
            </el-table-column>



            <!-- 添加一个自定义列，用来渲染分数列 -->
            <el-table-column label="邮箱" align="center">
                <template slot-scope="item">{{ item.row.email }}</template>
            </el-table-column>


            <!-- 其他列的设置，可以根据需要添加 -->

            <el-table-column label="操作" align="center">
                <!-- 添加操作按钮列 -->
                <template slot-scope="item">
                    <el-button type="primary" @click="update(item.row.name)">修改</el-button>
                    <el-button type="danger" @click="deleteByName(item.row.name)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <!--分页工具条 -->

        <!--
        <div class="block" align="center">

            <el-pagination
                    class="page"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"

                    :current-page="currentPage"
                    :page-sizes="page.sizes"
                    :page-size="page.size"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </div>


        <div class="block">
            <span class="demonstration">完整功能</span>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="this.page.sizes"
                    :page-size="this.page.size"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </div>

-->
        <div class="block" align="center">
            
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="this.page.sizes"
                    :page-size="this.page.size"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="this.total">
            </el-pagination>
        </div>



    </template>


</div>


<script src="../javascript/pack/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../javascript/pack/axios.js"></script>

<script>

    new Vue({
        el: "#app",
        data() {

            return {

                page:{
                    sizes:[5,10,20],
                    size:5,
                },
                total:100,


                currentPage:1,

                dialogVisible:false,

                updateDialogVisible:false,

                stuList:[],

                searchName:'',
                deleteName:'',



                stu:{
                    name:'',
                    gender:'',
                    score:'',
                    email:''
                },
                updateStu:{
                    name:'',
                    gender:'',
                    score:'',
                    email:''
                },

                addStu:{
                    name:'',
                    gender:'',
                    score:'',
                    email:''
                },




            }
        },
        created() {
            this.getAll();
            this.getCount();

        },


        methods:{


            getCount(){
                axios.get("http://localhost:8080/stu/count").then((res)=>{
                    this.total=res.data.data;
                })
            },


            show(){
              this.handleCurrentChange(this.currentPage);
            },

            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                axios.get("http://localhost:8080/stu/page?start=0"+"&size="+val).then((res)=>{
                    this.stuList=res.data.data;
                    this.currentPage=0;
                })
                this.page.size=val;

            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                axios.get("http://localhost:8080/stu/page?start="+(val-1)*this.page.size+"&size="+this.page.size).then((res)=>{
                    this.stuList=res.data.data;
                    this.currentPage=val;
                })


            },

            update(name){
              this.updateDialogVisible=true;
              this.updateStu.name=name;
            },

            resetScore(){
                this.updateStu.score=null;
            },
            submitUpdate(){


                axios.put("http://localhost:8080/stu/update/"+this.updateStu.name+"?score="+this.updateStu.score).then((res)=>{
                    if(res.data.flag){
                        this.$message.success("修改成功");
                        this.updateDialogVisible=false;
                        //this.getAll();
                        this.show();
                    }else{
                        this.$message.error("修改失败");
                        this.resetScore();
                    }
                })

            },


            sort(order){
                    if(order==="asc"){
                        axios.get("http://localhost:8080/stu/asc").then((res)=>{
                            this.stuList=res.data.data;
                            this.getAll();
                        })
                    }else{
                        axios.get("http://localhost:8080/stu/desc").then((res)=>{
                            this.stuList=res.data.data;
                            this.getAll();
                        })
                    }
            },

            getAll(){

                axios.post("http://localhost:8080/stu/all").then((response)=>{
                        this.total=response.data.data.length;

                        this.show();
                    }
                )

            },
            add(){
                axios.post("http://localhost:8080/stu/add",this.addStu).then((res)=>{
                    if(res.data.flag){
                        this.dialogVisible=false;
                        this.$message.success("添加成功");
                    }else{
                        this.$message.error("添加失败");
                    }


                }).finally(()=>{
                    this.addStu={};
                    this.getAll();
                })
            },
            searchByName(name){
                axios.get("http://localhost:8080/stu/search/"+name).then((res)=>{
                    this.stuList=res.data.data;
                })
            },


            deleteByName(name){

                this.$confirm("确定删除此学生信息吗?","警告",{type:"warning"}).then(()=>{
                    //点击确定的逻辑
                    axios.delete("http://localhost:8080/stu/delete/"+name).then((res)=>{
                        if(res.data.flag){
                            this.$message.success("删除成功");
                        }else{
                            this.$message.error("删除失败");
                        }
                    })

                }).catch(()=>{
                    //点击取消的逻辑
                    this.$message.info("取消成功");
                }).finally(()=>{
                    this.deleteName=null;
                    this.getAll();
                })


            },


        },
        watch:{
            //监听某个属性的变化的

            searchName:function (newName,oldName){
                if(!newName){
                    this.getAll();
                }
            },
            deleteName:function (newName,oldName){
                if(!newName){
                    this.getAll();
                }
            }



        },

    })


</script>


</body>
</html>